@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

:root {
  --body-background-color:rgb(218, 176, 121);
  --header-background-image1:rgb(7, 5, 5);
  --header-background-image2:rgb(218, 218, 89);
  --header-color:aliceblue;
  --bar-background-color:white;
  --nav-li-a-color:black;
  --h2-color:#0066cc;
  --p-color:#333;
  --square-color:rgb(94, 100, 100);
  --square-background-color:rgb(157, 163, 163);
  --square-hover-background-color:rgb(113, 122, 122);
  --abbr-color:#221f1f;
  --square-i-hover:#2123a0;
  --square-a-color:#1a1313;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color:var(--COLOR-1);
  font-family:'Roboto' sans-serif;
} 

header {
  color:var(--header-color);
  background-image: linear-gradient(to right, var(--COLOR-2), var(--COLOR-3));
  padding: 1%;
  top: 0;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
    
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}
  
.bar {
  width: 50px;
  height: 5px;
  background-color: var(--COLOR-1);
  margin: 10px 20px;
}
  
nav ul {
  list-style-type: none;
  display: flex;
}
  
nav li a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: var(--COLOR-1);
  padding: 10px;
  margin: 8px;
  font-size: 25px;
}

nav li i {
  margin-right: 10px;
}

nav .logo i:hover {
  color: var(--COLOR-1);
  transform:scale(1.2);
  transition-timing-function:ease-in-out;
  transition-duration: 1s;

}

a:hover {
  color: var(--COLOR-5);
}

header h1 {
  font-size: 2.5em;
  margin-left: 100px;
}

h2 {
  font-size: 24px;
  color: var(--h2-color);
  padding-left: 10px;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: var(---p-color);
  line-height: 1.6;
  margin: 10px 0 10px 10px;
  padding: 1px;
  font-weight: bold;
}

.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  flex-direction: row;
}

.square {
  flex: 1;
  border: 4px solid var(--square-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: auto;
  min-width: auto;
 
  border-radius: 50px;
  background-color: var(--square-background-color);
    
}

.square:hover {
background-color: var(--square-hover-background-color);
transform:scale(1.005);
transition-timing-function:ease-in-out;
transition-duration: 1s;
}

.square1 {
  display: flex;
  justify-content: flex-start;
}

.square ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.square h2 abbr {
  text-decoration: none;
  font-size: 50px;
  color: black;
  font-weight: bold;
}

.square p {
  font-size: 30px;
  text-align: center;
}

.square i {
  color: var(--nav-logo-i-hover);
}

.square i:hover {
  transform:scale(1.3);
  color: var(--square-i-hover);
  transition-timing-function:ease-in-out;
  transition-duration: 1s;
}

.square li {
  margin: 5px 0;
}

.square a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  font-size: 20px;
  color: var(--square-a-color);
  font-weight: bold;
}

#contact {
  background-color: transparent;
  color: black
  padding: 0px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0;
  margin: 5px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .menu-toggle {
    display: flex;
  }

  .nav-list {
    display: none;
    flex-direction: column;
    background-color:var(--COLOR-5);
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: 100%;  
  }

  .nav-list.show {
    display: flex;
  }

  nav li a i{
    margin:10px;
    padding: 10px;
    text-align: center;
    color: var(--COLOR-1);
  }

  .square {
    max-width: auto;
    min-width: max-content;
  }
}

 
  