:root {
  --body-background-color:#E1E289;
  --header-background-image1:#0A210F;
  --header-background-image2:#14591D;
  --header-color:aliceblue;
  --bar-background-color:white;
  --nav-li-a-color:black;
  --nav-logo-i-hover:#c41e1e;
  --a-hover:rgb(231, 231, 231);
  --h2-color:#0066cc;
  --p-color:#333;
  --square-color:#14591D;
  --square-background-color:#14591D;
  --square-hover-background-color:#99AA38;
  --abbr-color:#221f1f;
  --square-i-hover:#ACD2ED;
  --square-a-color:#1a1313;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color:var(--body-background-color);
  font-family: sans-serif;
} 

header {
  color:var(--header-color);
  background-image: linear-gradient(to right, var(--header-background-image1), var(--header-background-image2));
  padding: 10px;
  top: 0;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
    
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}
  
.bar {
  width: 50px;
  height: 5px;
  background-color: var(--bar-background-color);
  margin: 10px 20px;
}
  
nav ul {
  list-style-type: none;
  display: flex;
}
  
nav li a {
  text-decoration: none;
  color: var(--nav-li-a-color);
  font-weight: 900;
  padding: 10px;
  margin: 8px;
  font-size: 25px;
}

nav li i {
  margin-right: 10px;
}

nav .logo i:hover {
  color: var(--nav-logo-i-hover);
  transform:scale(1.2);
  transition-timing-function:ease-in-out;
  transition-duration: 1s;

}

a:hover {
  color: var(--a-hover);
}

header h1 {
  font-size: 2.5em;
  margin-left: 100px;
}

h2 {
  font-size: 24px;
  color: var(--h2-color);
  padding-left: 10px;
}

p {
  font-family: 'Arial', sans-serif;
  font-size: 18px;
  color: var(---p-color);
  line-height: 1.6;
  margin: 10px 0 10px 10px;
  text-indent: 20px;
  padding: 1px;
  font-weight: bold;
}

.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap:40px;
  padding: 10px;
}

.square {
  flex: 1;
  border: 4px solid var(--square-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 300px;
  border-radius: 25px;
  background-color: var(--square-background-color);
    
}

.square:hover {
background-color: var(--square-hover-background-color);
transform:scale(1.005);
transition-timing-function:ease-in-out;
transition-duration: 1s;
}

.square1 {
  display: flex;
  justify-content: flex-start;
}

.square ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.square h2 abbr {
  text-decoration: none;
  font-size: 50px;
  color: var(--abbr-color);
  font-weight: bold;
}

.square p {
  font-size: 30px;
}

.square i {
  color: var(--nav-logo-i-hover);
}

.square i:hover {
  transform:scale(1.3);
  color: var(--square-i-hover);
  transition-timing-function:ease-in-out;
  transition-duration: 1s;
}

.square li {
  margin: 5px 0;
}

.square a {
  text-decoration: none;
  font-size: 20px;
  color: var(--square-a-color);
  font-weight: bold;
}

#contact {
  background-color: transparent;
  color: --p-color;
  padding: 0px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0;
  margin: 5px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .menu-toggle {
    display: flex;
  }

  .nav-list {
    display: none;
    flex-direction: column;
    background-color: #333;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: 100%;  
  }

  .nav-list.show {
    display: flex;
  }

  nav li a i{
    margin:10px;
    padding: 10px;
    text-align: center;
    color: var(--nav-logo-i-hover);
  }
}

 
  
